@charset "UTF-8";
.ac_container{margin:0;padding:0;width:auto;border:0;position:relative}.ac_input{border:1px solid #79b;border-right:0;background-color:#fff;display:block !important;font-size:16px;padding:4px;margin:0;width:320px;float:left;border-radius:4px 0 0 4px;box-shadow:1px 1px 1px rgba(0,0,0,.2)inset;-moz-box-shadow:1px 1px 1px rgba(0,0,0,.2)inset;-webkit-box-shadow:1px 1px 1px rgba(0,0,0,.2)inset}.ac_container_open .ac_input{border-radius:4px 0 0 !important}.ac_button{border:1px solid #79b;width:32px;text-align:center;position:relative;cursor:pointer;float:left !important;clear:none !important;padding:0 !important;border-top-right-radius:4px;border-bottom-right-radius:4px}.ac_container_open .ac_button{border-bottom-right-radius:0 !important}.ac_button img{position:absolute;height:16px;width:16px}.ac_btn_out{background:#bde;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eeffff',endColorstr='#99aabb');background-image:linear-gradient(to bottom,#eff,#9ab)}.ac_btn_on{background:#dee;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#bbbbcc');background-image:linear-gradient(to bottom,#fff,#bbc)}.ac_result_area{background-color:transparent;margin:0;padding:0;list-style:none;position:absolute;z-index:100;display:none}.ac_results{background-color:rgba(255,255,255,.9);margin:0;padding:0;list-style:none}.ac_results li{margin:0;height:auto !important;padding:3px 5px;white-space:nowrap;color:#000;text-align:left;overflow:hidden;font-size:14px;line-height:1;position:relative}.ac_selected{background-color:#def;font-weight:700}.ac_over{cursor:pointer;background-color:#36c;color:#fff !important}.ac_results_off{background:rgba(255,255,255,.9)}.ac_input_off{background:#eee;color:#555}.ac_hide{display:none}.ac_navi{background:#fff;border-bottom:1px solid #79b;margin:0;padding:4px;text-align:right;font-size:13px;font-weight:400;line-height:1}.ac_navi a:active,.ac_navi a:hover,.ac_navi a:link,.ac_navi a:visited{color:#00f;text-decoration:underline;margin:0 4px;font-weight:400}.ac_navi p{font-size:15px;text-align:center;color:#000;padding-top:4px;margin:0}.ac_navi .current{font-weight:700;font-size:16px;color:#00c}.ac_navi .page_end{color:gray;margin:0 4px;font-weight:400}.navi_first,.navi_last,.navi_next,.navi_page,.navi_prev{margin:auto 4px !important}.ac_navi .info,.ac_subinfo{margin:0 !important;padding:0 !important}.ac_subinfo dl{display:none;z-index:200;border:1px solid #aaa;border-top-right-radius:4px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;box-shadow:2px 2px 2px rgba(0,0,0,.4);-moz-box-shadow:2px 2px 2px rgba(0,0,0,.4);-webkit-box-shadow:2px 2px 2px rgba(0,0,0,.4);width:260px;margin:0;position:absolute;background:#eee;color:#000}.ac_subinfo dt{width:92px;word-wrap:break-word;clear:both;float:left;margin:0;padding:2px 4px;font-size:13px;text-align:left;font-weight:400;background:#cedff7;color:#37486a}.ac_subinfo dt.hide{display:none !important}.ac_subinfo dd{width:152px;float:left;word-wrap:break-word;margin:0;padding:2px 4px;font-size:13px}.ac_container .ac_select_ng{background:#fcc}.ac_textarea{border:1px solid #79b;background-color:#fff;font-size:16px;padding:4px;margin:0;border-radius:4px;box-shadow:1px 1px 1px rgba(0,0,0,.2)inset;-moz-box-shadow:1px 1px 1px rgba(0,0,0,.2)inset;-webkit-box-shadow:1px 1px 1px rgba(0,0,0,.2)inset}/* Basement Styles */

body{
	font-size: 12px;
	color: #363636;
	background: #f0eeee;
	font-family: 'Hiragino Kaku Gothic Pro', 'Lucida Grande', 'ヒラギノ角ゴ Pro', Meiryo, 'メイリオ', 'Meta Normal', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/*-webkit-font-smoothing: antialiased;*/
	/*-webkit-text-stroke-width: 0.1px;*/
}

a{
	color: #1da1da;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus,
button:focus{
	outline:none;
}

dl, ul{
	padding: 0;
	margin: 0;
}

li{
	list-style: none;
}

h1, h2, h3, h4, h5, h6{
	margin: 0 0 0.5em 0;
	line-height: 1.1;
}

h1{
	border-bottom: 3px solid #1da1da;
}

h1:before{
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQxJREFUeNq8ldERgjAMhttO4Aj66hMrMAE4AboBncBzAthAmUCYgBV48lVGcANNvdT7xQLCWXOX60GSjxCSIEWPyPyypSMijR3mkrS6p+uTM9YBM5CMdCnGpSXVBC97oQQ0sFRMl5zA+gPaA2xICz6tBKQJn06whFc+g8ON9EBO+UDNTQJ70gXc3phSKL7IOsBwCGiE7SH7C+RI/spHMOgxoCNjTGqnuG1eNZwChIyx5pHq9GEh5gnGxcrxtefIW5wSHuQv0GAmJ+hCcW6TmVCMezZ/hU/kvhMT+xQzreyYXmEr2YlqvgAaWA2j2lLcytZUg69xqMcyZnvdmX3td0t526feNv+v/lEPAQYA85Vv56OQLKgAAAAASUVORK5CYII=');
	padding-right: 7px;
}

em{
	font-style: normal;
	color: #cc4b00;
}

br{
	clear: both;
}
/*-------------------------------------------------------------------------------------*/


/* Header Styles */


header{
	border-bottom: 3px solid #1da1da;
	background: #fff;
	line-height: 1;
	height: 92px;
	padding-bottom: 5px;
}

#title{
	background: #fff;
	border: none;
	font-size: 1em;
	margin: 0 0 15px 0;
	height: 1em;
	padding-top: 5px;
}

#title span{
	display: block;
	width: 1010px;
	font-size: 75%;
	margin: 5px auto 0 auto;
}

h1#title:before{
	content: '';
	padding: 0;
}

#logo{
	float: left;
}

header > .container{
	width: 1010px;
	padding: 5px 0;
}

header small{
	display: block;
	float: left;
	margin: 3em 0 0 1em;
}

header > .container > .col1{
	-webkit-flex: 1;
	flex: 1;
	width: 40%;
}

header > .container > .col2{
	text-align: right;
}

#fixedHeader{
	width: 100%;
	position: fixed;
	top: -200px;
	left: 0;
	background: rgba(29, 161, 218, 0.9);
	z-index: 9999;
	padding: 10px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}

#fixedHeader form{
	width: 52em;
	margin: 0 20px 0 auto;
}

#fixedHeader label{
	color: #fff;
}

/*-------------------------------------------------------------------------------------*/


/* Footer Styles */
footer{
	border-top: 3px solid #1da1da;
	background: #fff;
	padding: 1em 0 0 0;
}

footer a{
	color: #333;
}

footer h6{
	font-size: 1.2em;
	color: #1da1da;
	padding: 4px;
}

footer ul{
	line-height: 1.8;
}

footer li:before{
	content: '■\00a0';
	color: #fff;
}

footer .container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 1010px;
}


.footer_logo{
	margin-right: 1em;
}

.footer_phase{
	flex: 1;
}

footer .bg_white{
	background: #fff;
	padding: 1em;
}


footer .col1_2{
	width: 50%;
	margin-right: 2em;
	padding: 0.5em;
	border-radius: 8px;
	border: 1px solid #1da1da;
}

#copyright{
	color: #666;
	background: #f0eeee;
	display: block;
	width: 100%;
	margin: 1em auto 0 auto;
	padding: 1em;
	text-align: center;
}

#copyright a{
	display: inline-block;
	padding-right: 2em;
}

#footerSearch{
	margin: 0 auto;
	width: 960px;
	padding: 10px;
	margin-bottom: 1em;
}

#footerSearch a,
#footerSearch label{
	color: #fff;
}

#freewords{
	width: 20em;
	margin-left: 1em;
}

#footerSearch > a{
	margin-right: 1em;
}

#footerSearch strong{
	font-size: 1.5em
}

#footerLogo{
	display: block;
	margin: 0 auto 1em auto;
}


/*-------------------------------------------------------------------------------------*/


/* Layout Styles */
body > .container{
	display: block;
	padding: 10px 0;
}

.container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	box-sizing: border-box;
	width: 1010px;
	margin: 0 auto;
	padding: 5px 10px;
	clear: both;
}

.flex{
	display: -webkit-flexbox;
	display: -moz-flexbox;
	display: -ms-flexbox;
	display: -o-flexbox;
	display: flex;
}

section.container > .container{
	margin: 0;
	padding: 0;
}

section.container > .container.block{
	display: block;
	border: 1px solid #ececec;
	background: #fff;
	padding: 10px !important;
}

.m0{
	margin: 0 !important;
}

.mt20{
	margin-top: 20px !important;
}

.ml10{
	margin-left: 10px !important;
}

.mt10{
	margin-top: 10px !important;
}

.txt_left{
	text-align: left;
}

.txt_right{
	text-align: right;
}

.txt_center{
	text-align: center;
}

.c_both{
	clear: both;
}

.block{
	display: block;
}

.none{
	display: none;
}

.red{
	color: #cc0000;
}

/*-------------------------------------------------------------------------------------*/


/* UI styles */
.button{
	display: inline-block;
	line-height: 1;
	background: #1da1da;
	color: #fff;
	padding: 9px 1em;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}

.button.link:hover{
	background: #1da1da;
	color: #fff;
	text-decoration: underline;
}

.button.small{
	padding: 4px 1em;
	height: auto;
}

.button.close{
	height: 20px !important;
	background: #c0a4be;
	color: #fff;
	font-size: 10px;
}

.button.green{
	background: #94d146;
}

.button.navRsv{
	height: auto;
	line-height: 1;
	background: #ff5f70;
}

.button.send{
	display: block;
	width: 40%;
	margin: 0 auto;
	background: #ff5f70;
	font-size: 1.25em;
}

.button.send:active{
	background: #b94551;
}

.button.send:disabled{
	background: #d1b2c0;
	color: #ddd;
}

.button.navRsv:hover,
.button.send:hover{
	background: #ff807f;
}

.button.back{
	width: 25%;
	margin: 0 auto;
	background: #e9cd7f;
	font-size: 1.25em;
}

.button.back:hover{
	background: #dcc072;
}

.button:hover{
	text-decoration: none;
	background: #1fbff9;
}

.button.close:hover{
	background: #dfc0dd;
	color: #fff;
}

.button.green:hover{
	background: #acef4b;
}

.button.prev{
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background: #9aaec1 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAQCAYAAADNo/U5AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOVJREFUeNqMUosNgjAUpA0DMELdAEdgA90AN8AJxAnUSXADcALYQDewG9S75JogCZ+XXB4pd333Xp9JNkQIIUc6AN4Yc98iqMN/lOkC2SE1QK4jD2SAszOCCqmXgOQj8Ij/7YScAbz9pls7YI8+nmOeHQnY6FsNM64gF8Bn6iSVgDdXOhuAE8jDXL9WDUcBx1ksCaI9N5rOCwK/9gwWpE6W2HhDqxzIWiVGIWuJrLbagnkRLQFnib3ep+c2LFVKJKbVHRDf5QJhq2FtWtIS+GrfmHt912tCp0rjqLZWrSXmdLOfAAMAnxCdE21jxdMAAAAASUVORK5CYII=') no-repeat 40% 50%;
}

.button.next{
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background: #9aaec1 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAQCAYAAADNo/U5AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALRJREFUeNpiZACC////GwCpACB+wMjIuICBEABqEADi9/8RYD8QKxDS5ABV/B5JM4hOIEYT2AYoDQPrQS7BqwlJrAFJI8hWB4KaYIEDxPeRNPfDbcWlCSmQ+pE0ngdrxKcJSXMAUiA1MDEQBw6A4hDK5mciIh5BkX4fiEEJ4AMQL8QXENj8Y4AvyDFCDm+Qo8XRfYw4QtN0HorxpwaoJoX/qOA91PMEQ6gAmubWE0zhQAAQYACemXK6ST1WagAAAABJRU5ErkJggg==') no-repeat 50% 50%;
}

.button.prev:hover,
.button.next:hover{
	background-color: #b0c2cb;
}

.button.rsv{
	display: inline-block;
	width: 5.2em;
	margin: 3px;
	padding: 0.75em;
	height: 1em;
	line-height: 1;
	text-align: center;
	font-size: 1.1em;
}

.button.date{
	display: inline-block;
	width: 100%;
	height: 2.2em;
	background: #fff;
	color: #1da1da;
	border: 1px solid #1da1da;
	border-right: none;
	line-height: 0.75;
}

.button.date:hover{
	color: #fff;
	background: #1da1da;
}

.smallfont{
	font-size: 0.9em;
}

/* UI::breadcrumb styles */
ul#breadcrumb{
	font-size: 9px;
	color: #888;
	margin-bottom: 5px;
	color: #1da1da !important;
}

ul#breadcrumb li{
	float: left;
}

ul#breadcrumb li a:hover{
	text-decoration: underline;
}

ul#breadcrumb li:before{
	content: '\00a0\00a0>\00a0\00a0';
}

ul#breadcrumb li:first-child:before{
	content: none;
}


ul.thumb li > img{
	padding: 3px;
	border-radius: 3px;
	box-shadow: 0 0 4px #aaa;
	cursor: pointer;
}

/* UI::Form styles */
fieldset{
	position: relative;
	border: none;
	margin-bottom: 0.5em;
	/*text-align: center;*/
}

input[type="radio"]{
	-webkit-appearance: initial;
	-moz-webkit-appearance: initial;
	-ms-webkit-appearance: initial;
	-o-webkit-appearance: initial;
	appearance: initial;
	-webkit-box-sizing: border-box;
	position: relative;
	display: block;
	float: left;
}

input[type="radio"]:before{
	content: '\2713';
	position: absolute;
	left: -1em;
	top: -2px;
	color: #ded5ce;
	width: 1.2em;
	height: 1.2em;
	font-size: 1.2em;
}

input[type="radio"]:checked:before{
	color: #1da1da;
}

#QArea{
	height: 34px;
}

legend{
	font-size: 1.2em;
	position: relative;
	display: inline-block;
}

form#searchFree{
	position: relative;
	margin-top: 1em;
}

form#searchQuick,
form#searchKeyword{
	position: relative;
	font-size: 125%;
}

form#searchFree > label,
form#searchQuick > label{
	position: absolute;
	top: -1.2em;
	font-size: 11px;
}

form#searchQuick > label{
	top: -1.5em;
}

form#searchKeyword > #Keyword{
	width: 36em;
}

form#searchFree > select{
	width: 12em;
}

form#searchFree > input[type=text]{
	width: 12em;
	font-size: 14px;
	height: 2.5em;
}

select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #666;
	padding: 1px 1.5em 1px 4px;
	border-radius: 0;
	height: 2.5em;
	font-size: 14px;
	background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAICAYAAAArzdW1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFNJREFUeNpiYZxwrYOBgaGcAQ9gAuIKIH6PR00FE5SRjkdRJ0zRaiA+i0WBK8w6Bhym7YFiFEVnoSZiaGJC0w2TmAXE92CCLGiK3kMVzkIWBAgwAIzcDpRZdWdbAAAAAElFTkSuQmCC') no-repeat;
	background-position: right 3px center;
	border-radius: 0.3em;
	text-indent: 0.01em;
	text-overflow: '';
}

input[type=text], input[type=email]{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #666;
	padding: 1px 4px;
	height: 20px;
	border-radius: 0.3em;
}

select:focus,
input:not([type='radio']):focus,
textarea:focus{
	background-color: #DAF5FF;
	outline: none;
}

textarea{
	border: 1px solid #666;
	border-radius: 3px;
	font-size: 1.25em;
}

.qresearch,
.research{
	height: 3em;
	padding: 0 1.5em;
	background: #ff5f70;
}

.detailSearch{
	width: 100%;
	background: #ff5f70;
}

.qresearch:hover,
.research:hover,
.detailSearch:hover{
	background: #ffbc00;
}

/* UI::radio button */
.radios input[type='radio'].button{
	display: none;
}

.radios label{
	display: block;
	float: left;
	cursor: pointer;
	padding: 4px 2em;
	margin: 0 -1px;
	background: #eaf8ff;
	color: #1da1da;
	border: 1px solid #1da1da;
	text-align: center;
}

.radios label:first-of-type{
	border-radius: 3px 0 0 3px;
}

.radios label:last-of-type{
	border-radius: 0 3px 3px 0;
}

.radios input[type='radio'].button:checked + label{
	background: #1da1da;
	color: #fff;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
	select{
		background: none !important;
		padding: 0 !important;
		background-color: #fff !important;
		border-radius: 3px 0 0 3px !important;
	}

	header > .container > .col2{
		text-align: left !important;
	}
}