@charset "UTF-8";

/* Layout */
section{
	width: 1010px;
	margin: 10px auto;
	background: #fff;
	border: 1px solid #ccc;
}

#A{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border-bottom: 1px solid #ccc;
}

#A > img{
	width: 700px;
	height: 350px;
}

#counter{
	flex: 1;
	padding: 2em 1em;
}

#counter h2{
	margin-bottom: 1.5em;
}

#counter h2,
#counter strong,
#counter dl{
	color: #83c825;
}


#counter strong{
	font-size: 2.75em;
	letter-spacing: 0.1em;
}

#counter dl{
	margin-top: 2em;
	padding-top: 1em;
	border-top: 1px solid #ccc;
}

#counter dt{
	width: 9em;
	margin-top: 1em;
	float: left;
}

#counter dd{
	font-size: 1.2em;
	font-weight: bold;
	padding: 0 0 1em 8em;
	margin: 0 0 1em 0;
	border-bottom: 1px solid #ccc;
}

#counter dd > strong{
	display: inline-block;
	padding: 8px;
	border-radius: 24px;
	background: #83c825;
	color: #fff;
	font-size: 1em;
	margin-right: 0.75em;
	letter-spacing: 0.1em;
}

.p{
	padding: 0 0 4em 0;
	border-bottom: 1px solid #ccc;
}

#quick{
	position: relative;
}

#toggleDetail{
	position: absolute;
	top: 0.75em;
	right: 10%;
}

.container.misc{
	display: table;
	height: 220px;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

.container.misc div{
	width: 33%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	border-right: 1px solid #ccc;
}

.container.misc div:last-child{
	border-right: none;
}

.service{
	position: relative;
	overflow: hidden;
}

.service div{
	padding-left: 50px;
}

.service_links{
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-property: all;
	-moz-transition-duration: 0.2s;
	-moz-transition-timing-function: ease-in-out;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	height: 2.25em;
}

.service_links.on{
	height: 21em;
}

.container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	padding: 5px 10px;
	clear: both;
	border-bottom: 1px dotted #999;
}

.container:last-child{
	border-bottom: none;
}

.h3{
	width: 14em;
}

.special_services{
	flex: 1;
}

.to_special{
	width: 14em;
	text-align: right;
}

.to_special:after{
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAYAAABbayygAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGVJREFUeNpilF14y4GBgaEeiBMfx6s9YMABmKA0SPF5oKYCQgpBQACI+4GK9wOxAj6FDPhMZ8JhE4bpuBRimE5IIRywEJA/AAs2XAo/AHEjUMEEfCYewBb4LPhMwabwAKEoBAgwACZXKNBUXtTZAAAAAElFTkSuQmCC');
	margin-left: 0.5em;
}

.wrapper{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.wrapper > div{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1em;
}

.wrapper > div:first-child{
	margin-right: 0.5em;
}
.wrapper > div:last-child{
}

.no_padding{
	padding: 0 !important;
}

/* quick search */
section form#searchQuick{
	margin: 1.5em 0 0 -200px;
	text-align: center;
}

section form#searchQuick label{
	font-size: 1em;
}

section form#searchQuick select,
section form#searchQuick input{
	padding: 1px 1.5em 1px 4px;
	width: 12em;
	height: 38px;
}

section form#searchQuick input{
	width: 150px;
	height: 34px;
}

section form#searchQuick button.qresearch{
	height: 36px;
}

#Prefs{
	margin: 0 20px 0 50px;
	float: left;
}

.areas{
	float: left;
	border: 1px solid #ccc;
	padding: 1em 2em;
	width: 25%;
}

.areas h3{
	color: #1da1da;
}

.areas dt{
	font-weight: bold;
	margin-top: 1em;
}

.areas dd{
	margin: 0;
}

/* detail search */
#detail{
	height: 1px;
	overflow: hidden;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-property: all;
	-moz-transition-duration: 0.2s;
	-moz-transition-timing-function: ease-in-out;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

#detail.show_detail{
	height: 30em;
	margin: 0 60px;
	box-sizing: border-box;
}

#formDetailSearch dl{
	font-size: 1.25em;
}

#formDetailSearch dt{
	width: 11.5em;
	float: left;
	padding-top: 0.5em;
}

#formDetailSearch dd{
	padding: 0.5em 0 0.5em 11.5em;
	margin: 0 0 0 0;
	border-bottom: 1px dotted #ccc;
}

#formDetailSearch dd:last-child{
	border: none;
}

#formDetailSearch dd:after{
	clear: both;
}

#formDetailSearch label{
	display: inline-block;
}

#formDetailSearch .day label{
	width: 6em;
}

#formDetailSearch .time label{
	width: 10em;
}

#formDetailSearch .detail label{
	width: 11em;
}

.detailSearch{
	height: 36px;
}

#formDetailSearch input[type="checkbox"]{
	-webkit-appearance: initial;
	-moz-webkit-appearance: initial;
	-ms-webkit-appearance: initial;
	-o-webkit-appearance: initial;
	appearance: initial;
	-webkit-box-sizing: border-box;
	position: relative;
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	border: 1px solid #999;
	margin: 0 8px 0 5px;
	background: #fff;
}

input[type="checkbox"]:before{
	content: '\2713';
	position: absolute;
	left: -6px;
	top: -5px;
	color: #ded5ce;
	font-size: 1.7em;
	line-height: 1;
}

input[type="checkbox"]:checked{
	background: #1da1da !important;
}

input[type="checkbox"]:checked:before{
	content: '\2713';
	position: absolute;
	left: -6px;
	top: -5px;
	color: #fff;
	font-size: 1.7em;
	line-height: 1;
}

/* button */
.button{
	margin-bottom: 0.5em;
}

.serviceMore{
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	width: 8em;
}

.service_index {
	width: 10em;
	margin: 2px 1px;
	background: #efefef;
	color: #666;
	border: 1px dotted #ccc;
	border-radius: 3px;
	font-size: 1.0em;
}

.service_index:hover{
	background: #1da1da;
	color: #fff;
}


/* letters decorate */
h2{
	position: relative;
	margin: 0 0 0.5em 0;
	color: #1da1da;
	font-size: 1.5em;
}

h2 > span{
	position: absolute;
	top: 15px;
}

h2:before{
	margin-right: 10px;
}

h2.quick:before{
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAjFJREFUeNpilF14i2HwASaGQQlGnTXqrFFnjTpr1FmjzqI7YCFDDx8bk7ssT6gKn4U4J1zwyZffOx9/nXv9A5BBubMYSW1BWEpw9lqJy/Cw4lLQf/Fd/8W3dI3EUGW+lW4yeNwEBIX6Qr3W4vSLRFA4Idm38/GXNXc+H3/57dOvf0ApN2C0KvMB4xfieqBg4+nXNI9EoH07fOQg4QS0svjoS6Cz0NQAZec4SGoJsUO44bueHH/xnbaRCEzj8LjD6iZIqg/b9QToaAg3SVOA5mkLmO8gjBMvv2N1EwQgxx3QJ5A4paGz4GXB3Gsf8KtcffcTnK0Ni1CaF6fANE5QDTBEYZ7hoqGzkOMCnnQGvvJBdgqwLCCoXksQGnfX3v2kbSTCqxRg+USweIOH7tX3NHYWsL6DF/T4S/l6E1G4T8iuH4l1FrAOhqczYJmJK+cDqwF4cQqsHGlebgH9DbcGaPGxIEVgsKHFHbAagAsCkyOe4o3KLQhgYKC5BlIWANM4ZvgB0ztyoU/DcgtY7cBjE17MAhGym+DpCRioq9xkyCvomfkDc0nScPDZN2AIAS1T4WfDjOjG02+Kj70E5glI+S7KyeIgxb3pweeff//TthmIXMYC7YaU48D4ApYFyPkOObrJiE1G2o1vUeIyGnYxgAkRXm2Tms5o2/NBc9kcR6nB0iFDdpkMN7FtdBYG2gOgy4CpCpg/CLbV6JHkRzv7o84addaos0adNeqsUWdRDgACDABZrvKkFGK96wAAAABJRU5ErkJggg==');
}

h2.ser:before{
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAActJREFUeNrsl0FOwkAUhtGADUpqrCG4KG7QDS5YkeAJvIC49A6cQDwBZ9Cl9QKeQBJWLHShspEuJAQSSSNRifGPL5m8NgTahpZWZtI0D94/yZeZN3/frOWvnhLRG+uJSA6JJbEklsSKG1bSx5ybE72SS8+VNXvjszszPCwMozO67YxmCE4Laj6TCnW1MExrcv82niGo5DaXgMVHtaBWD1QEvrcsECw9k3JTauFhXZSzR5qibyXFUcC73uo/Dj+XiQUmvk4Ub28swHRi7lu0QTSKOwodQ6rxWmm3VtIQ7F8/8ymQ8VmeNtctFjYIXgVfQAymZu9jnpfaBOD2tLkeagv+OdWrGu0BHsefUHIxLaf8VEusuGEd76Vfzw/xwBTINegnZXlKKBGsahvYtSaN9lDYkvFiswyeEsrun9UFi2Va39yiDHsnyFMOpayt6NTW+9cPLg60R3g/2D+9PCWUCALHQgvAO+PLVp9necqhDBarqCn1cpbOIOqdulMBRG0MpYTSX7PqDQvNCbWg5AtTu1NKCaW/ZvVflDxWgregjurhKYcyQCxclHEpjdZq4bTjluz7oozpnpzCLdYCb8yyDZRYEktiSaxVx/oVYABhfe1O4U1Y+QAAAABJRU5ErkJggg==');
}

h2.area:before{
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAfhJREFUeNpilF14i2HwASaGQQlGnTXqrFFnjTpr1FmjzqI7YKFEs6UEZ4gyn7ssDx8bwns7H3/Z9ejr6rufKDGZkbwWBNAdvdbiQAfhUnDt3c+iYy+BJP0iUUuIfYePHB43QdSscpMBknRyFjCc5jhIyvCwEqOSbJeRnLbqTUXR3PTp1z9genry5Q/QHe6y3MiyQJE+K3GPLY9o6yyglaHKfMgiwKTdePo10GUQLpCdrCkAdDpybAK1kJoDSItENDedePm9+OhLuJsgYO71D0CELOImx03btAUsEVBccO0DVmX9F98ic/FnDio4S0sQJf0CkxRWZcDwAwYk/Up55GKT1DKFhs5CKx7xWGYhzolHI5Wd9fjrb2QuMNNhVYYm/uTLb9pGIrCyQ8uYaHkTki0K9YVRk+BXmteJVyKU0VIYMHWvvvPpydfffKzMwLIA06HA4pTUSCS5lAeWSYX6QmjJCC0loTmajAqbiXRnvScprTScfk2PqhpYJhUfe0mk4v6L78hr25BTDh1/8R2tesFVmqAV9zRvNAOrZPzBAAzUlAPPB6AtH7brCVoljQxSDzwjo7iigrOAbsLlMmCzAhjRA9bzAcYjpsuAbqKwf0GFDhmay6jiJur0E+Euo5abyO+QjXb2R5016qxRZ406a9RZo86iDwAIMAD2meMwB/yBeQAAAABJRU5ErkJggg==');
}

h2.detail:before{
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAbNJREFUeNpilF14i2HwASaGQQlGnTXqrFFnjTpr1FnD2VkslGjmY2PSFmLHKvXx179r734OgLOAblrlJqOFw1lAUHz05eq7n8gznJH4FgRy2MhwsyZrCuBxEwTsfPxlzZ3Pn37/hXCPv/hOfWdZSnCudJOhJNLlFt0eeUm+8fTra++hybneRBRrVAKjb971D/jVUNlZQDfBU4nHlkfARMbHxoys4MmX38iJ/dPvf3QtICBgLixURotTvACYYvjZcHrs8Zc/wNgcAGc1mIpaiHPiku2/+K7/4tvRSISBsJ1PBqOz6k1FtXEXSKvvfCK7TqTIWUA34UlbxNeA1E7yp1/jz4kD4yxtQXYZHlY498TLb5SEENWcFarChxyJ/RehEQdsa6C0iFiZ6OosYKJGDh5gaEEYFLZ/KHYW3ox24iXUxXiyxQAUp8BSDYgew+ofYBt6UDgL2MjutRYPVeYjo11PTiRqCRLVpoN3QMjoa5DjLGDhTmT74tOvf8CmLBllPQvtIhHoprBdT8jrLZLgLGCpDWyrEK8e2JwnuwfLODrSPOqsUWeNOmvUWaPOGnUWGAAEGACpAqWx5qvaJgAAAABJRU5ErkJggg==');
}

.special h3{
	color: #fff;
	margin: 0 0 0.75em -5.5em;
	font-size: 1.5em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.container{
	padding: 0.75em 0.5em;
}

.container h3{
	margin: 0;
}